@import url(http://posterous.com/themes/choice/font.css);

html, body {
    margin: 0;
    padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.5em;
    background-color: #334;
}

h1 {
	margin: 0.6em 0 0;
    line-height: 1em;
    font-size: 67px;
    text-transform: uppercase;
    color: #334;
    font-family: "LeagueGothicRegular", "Droid Sans", Arial, Helvetica, sans-serif;
}

h2 {
	color: #e44f3a;
	font-size: 28px;
	margin: 1.5em 0 0;
}

hr {
	background-color: #999;
	border: none;
	height: 2px;
	margin-top: 3em;
}
a {
	color: #e33f3a;
}
strong a {
	text-decoration: none;
}
img.right {
	float: right;
}

ul {
	padding-left: 1.35em;
}

ol {
    padding-left: 1.4em;
}

sup {
	line-height: 0;
}

sup a {
	text-decoration: none;
}

footer {
    font-size: 14px;
    background-color: #334;
    color: #FFF;
    clear: both;
    padding-top: 10px;
    box-shadow: inset 0px 1px 100px 0px black;
    height: 400px;
}

footer a {
    color:#FF7C80;
}

footer .contact {
    margin-left: 20px;
    float: right;
}

.nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

.nav a {
    text-decoration: none;
}

blockquote {
    font-style: italic;
    padding-left: 15px;
    color: #666;
    margin: 0;
    border: 1px solid #DEDEDE;
    border-left: 5px solid #BBB;
    background-color: #FAFAFA;
}

footer .rss {
    margin-top: 20px;
}

.hyphenate {
	text-align: justify;
}

.main {
    background-color: #F5F5F5;
    padding-top: 1px; /* no idea why this fixes the background */
    padding-bottom: 1px;
}

.content {
	margin: auto;
	width: 80%;
    max-width: 600px;
}

.mascot {
    margin-top:2em;
    float: left;
}


/* CODE */

code {
    font-size: 85%;
}

#post pre {
    border: 1px solid #DEDEDE;
    background-color: #FAFAFA;
    padding: 0.5em 1.0em;
    overflow: auto;
    line-height: 1.3em;
}

#post pre.terminal {
/*    border: 1px solid black;*/
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}



/* RELATED */

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}


/* HOME */

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
    padding:0px;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #888;
    font-family: "Courier", monospace;
    font-size: 0.9em;
    font-weight: bold;
}


/* POSTS */

#post {
    position: relative;

}

#post .meta {
    position:absolute; 
    left:-80px; 
    top: 10px; 
    width:0px;
}

#post .meta div {
    width: 100px;
}

#post .meta .date {
    color: #888;
    font-family: "Courier", monospace;
    font-weight: bold;
}

#post .meta .date span {
    display:block;
}

#post .meta .date span.day {
    font-size: 2.4em;
    letter-spacing: -2px;
    margin-left: -2px;
}

#post .meta .date span.month {
    font-size: 1.4em;
    margin-bottom: -5px;
}

#post .meta .date span.year {

}


#post div.footnotes {
    font-size: smaller;
    margin-left: 4px;
}

#post div.footnotes a {
    text-decoration: none;
}



#home .stuff {
    list-style-type: none;
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding:0px;
}

#home .stuff li {
    display: inline-block;
    height: 100px;
    overflow: hidden;
    margin: 2px;
}

#home .stuff img {
    width: 100px;
}
