  <section class="projects">

    <!-- TODO add hrforms -->
    <!-- TODO add ziff? -->
    <!-- TODO add acima -->
    <!-- TODO add moment park -->

    <article class="project">
      <a href="/projects/acima.html">
        <div class="project-thumb border"><img src="/projects/acima.png"></div>
        <h4>Acima Credit</h4>
      </a>
      <div class="status">2016-2018</div>
      <div>Ecommerce loan platform including predictive underwriting</div>
    </article>

    <article class="project">
      <a href="/projects/itv.html">
        <img class="app" src="http://i.imgur.com/VU673cP.jpg">
        <h4>I.TV</h4>
      </a>
      <div class="status">2009-2012</div>
      <div>Interactive TV startup with millions in revenue and partnerships with Nintendo and others.</div>
    </article>

    <article class="project">
      <a href="/projects/savvy.html">
        <div class="project-thumb border"><img src="/projects/savvy-thumb.jpg"></div>
        <h4>Savvysherpa</h4>
      </a>
      <div class="status">2016</div>
      <div>Interactive data visualizations in Elm.</div>
    </article>

    <article class="project">
      <a href="http://webfiction.co/hello">
        <div class="project-thumb"><img src="http://i.imgur.com/Mmo8uxm.png"></div>
        <h4>Webfiction</h4>
      </a>
      <div class="status">2015</div>
      <div>Read web fiction from around the web. Haskell, Servant and React. <a href="http://github.com/seanhess/serials">Source</a></div>
    </article>

    <article class="project">
      <a href="/projects/kualico.html">
        <div class="project-thumb border"><img src="/projects/kualico-thumb.png"></div>
        <h4>Kuali.co</h4>
      </a>
      <div>Administrative software for universities. React, Node and Haskell.</div>
    </article>

    <article class="project">
      <a href="/projects/modifyink.html">
        <div class="project-thumb border"><img src="/projects/modify-thumb.png"></div>
        <h4>Modify Ink</h4>
      </a>
      <div class="status">2015</div>
      <div>Remix art in the browser. Typescript, Angular and Node.</div>
    </article>

    <article class="project">
      <a href="/projects/wizardwar.html">
        <img class="app" src="http://i.imgur.com/bk7x8b9.png">
        <h4>Wizard War</h4>
      </a>
      <div class="status">2013</div>
      <div>Multiplayer iOS game with hidden spells and angry wizards. <a href="https://github.com/seanhess/wizardwar">Source</a></div>
    </article>

    <article class="project">
      <a href="http://appstore.com/librosyaudiolibrosgratis">
        <img class="app" src="http://i.imgur.com/IfkRh1W.png">
        <h4>Libros y Audiolibros en Español</h4>
      </a>
      <div class="status">2013</div>
      <div>Spanish book and audiobook reader and store for iOS. <a href="https://github.com/seanhess/librosapp">Source</a></div>
    </article>

    <article class="project">
      <a href="http://bazookaguys.orbit.al">
        <img src="http://i.imgur.com/GESHiMB.png">
        <h4>Underwater Adventure Rocket Bazooka Guys</h4>
      </a>
      <div class="status">2012-2013</div>
      <div>A watery and deadly competitive multiplayer web game. <a href="https://github.com/seanhess/bazookaguys">Source</a></div>
    </article>

  </section>

