  <ul class="posts">
    <li><span>Jan 2016</span> &raquo; <a href="https://github.com/seanhess/elm-introduction">Introduction to Elm</a></li>
    <li><span>May 2015</span> &raquo; <a href="https://github.com/seanhess/talk-innovate">OpenWest - How to refactor, experiment, and innovate on a deadline</a></li>
    <li><span>Jun 2014</span> &raquo; <a href="https://github.com/seanhess/functional-javascript">UtahJS Conf - Functional Javascript: The Good Parts</a></li>
    <li><span>Jan 2014</span> &raquo; <a href="https://github.com/seanhess/angularjs-typescript">Ng-Conf - How to use Typescript on your Angular application and be happy</a></li>
    <li><span>May 2013</span> &raquo; <a href="https://github.com/seanhess/seanhess.github.com/blob/master/articles/reactivecocoa.md">CocoaHeads - Reactive Cocoa</a></li>
    <li><span>Oct 2012</span> &raquo; <a href="https://github.com/seanhess/html5-drag-drop-anything">HTML5DevConf - HTML5 Drag and Drop Anything</a></li>
    <li><span>Sep 2012</span> &raquo; <a href="http://github.com/seanhess/the-issues-angularjs-demo">UtahJS - AngularJS Demo App "The Issues"</a></li>
    <li><span>May 2012</span> &raquo; <a href="http://www.html5devconf.com/speakers/sean_hess.html">HTML5DevConf</a>, <a href="http://fluentconf.com/fluent2012/public/schedule/detail/24643">Fluent</a> - How to deploy a node.js app to production (<a href="http://www.slideshare.net/embwbam/how-to-deploy-node-to-production">Slides</a>, <a href="http://github.com/seanhess/ratinatorly">Code</a>)</li>
    <li><span>Jan 2012</span> &raquo; <a href="http://nodesummit.com/agenda/">Node Summit - Large Scale Web Panel</a></li>
    <!-- <li><span>June 2012</span> &raquo; <a href="http://conf.utahjs.com/sessions/javascript-is-functional-right-what-we-should-learn-from-functional-programming/">UtahJS - Javascript is functional, right? Learn from functional programming.</a></li>-->
  </ul>
